#legend-wrapper {
    background-color: white;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
}

g text {
    color: black;
    font-size: 8px;
    inline-size: 100px;
    overflow-wrap: break-word;
}